{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Product Form{% endblock title %}
{% block css %}

{% endblock css %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto my-3">
            <form method="post" enctype="multipart/form-data" class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form|crispy}}
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary">Save +</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
{% block js %}
{% endblock js %}