<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DFIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                <a class="nav-link" aria-current="page" href="{% url 'form' %}">Form</a>
                <a class="nav-link" aria-current="page" href="{% url 'listing' %}">Listing</a>
                <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Admin</a>

            </div>
        </div>
    </div>
</nav>